@model Restaurant_Reservation_Client.Model.ViewModels.ReservationViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor
@{
    ViewData["Title"] = "我要訂位";
    var dateOfToday = DateTime.Now.ToString("yyyy-MM-dd");
}

<h1 class="text-center fw-bold text-primary m-4">我要訂位</h1>

<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="MakeRes">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <h5 class="text-danger">@ViewBag.RepeatError</h5>
            <div class="form-group m-2">
                <label asp-for="BookingDate" class="control-label fw-bold fs-5"></label>
                <input asp-for="BookingDate" class="form-control" min="@dateOfToday" value="@dateOfToday" /><p class="text-dark">(點選欄位右方圖示選日期)</p>
                <span asp-validation-for="BookingDate" class="text-danger"></span>
            </div>
            <h5 class="text-danger">@ViewBag.RemainSeatError</h5>
            <div class="form-group m-2">
                <label asp-for="ArrivalTimeId" class="control-label fw-bold fs-5"></label>
                <select asp-for="ArrivalTimeId" class="form-select">
                    <option value="">請選擇時段</option>
                    @{
                        var periods = ViewBag.Periods;
                        for(int i = 0; i < periods.Count; i++)
                        {
                            <option value="@periods[i].Id">@periods[i].Display</option>
                        }
                    }
                </select>
                <span asp-validation-for="ArrivalTimeId" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="CustomerName" class="control-label fw-bold fs-5"></label>
                <input asp-for="CustomerName" class="form-control" placeholder="請輸入訂位人姓名" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="Phone" class="control-label fw-bold fs-5"></label>
                <input asp-for="Phone" class="form-control" placeholder="請輸入連絡電話" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="SeatRequirement" class="control-label fw-bold fs-5"></label>
                <input asp-for="SeatRequirement" type="number" class="form-control" placeholder="請輸入訂位數" />
                <span asp-validation-for="SeatRequirement" class="text-danger"></span>
            </div>
            <h5 class="text-danger">@ViewBag.ChildSeatError</h5>
            <div class="form-group m-2">
                <label asp-for="ChildSeat" class="control-label fw-bold fs-5"></label>
                <input asp-for="ChildSeat" type="number" class="form-control" placeholder="請輸入兒童座椅需求數" />
                <span asp-validation-for="ChildSeat" class="text-danger"></span>
            </div>
            <div class="form-group text-center m-4">
                <input type="submit" value="按我訂位" class="btn btn-primary fw-bold fs-5" />
            </div>
        </form>
    </div>
</div>

<div class="m-2" style="text-align:center">
    <a asp-action="Index" class="btn btn-warning mx-2 fw-bold fs-5">回首頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(function () {
            $("#BookingDate").change( function () {
                var selectedDate = $(this).val();
                $("#ArrivalTimeId").empty();
                $("#ArrivalTimeId").append("<option value=''>請選擇時段</option>");
                $.ajax({
                    method: 'POST',
                    url: '@Url.Action("ShowPeriods")',
                    data: { bookingDate :selectedDate }, 
                    dataType: 'json', 
                    success: function (response) {
                        for (var i = 0; i < response.length; i++) {
                            console.log(response[i].display);
                            $("#ArrivalTimeId").append('<option value="' + response[i].id + '">' + response[i].display + '</option>');
                        }
                    }
                })
            });
        });
    </script>
}