@model Restaurant_Reservation_Client.Models.ReservationViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor
@{
    ViewData["Title"] = "訂位查詢";
    var dateOfToday = DateTime.Now.ToString("yyyy-MM-dd");
}

<h3 class="text-center fw-bold text-primary">訂位修改/刪除前請先輸入查詢資訊</h3>

<a asp-controller="Reservation" asp-action="DateForQuery" data-bs-toggle="modal" data-bs-target="#dateForQueryModal"
   class="btn btn-info mx-2">按我選擇日期</a>
<div class="modal fade" id="dateForQueryModal" tabindex="-1" aria-labelledby="dateForQueryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form asp-action="DateForQuery">
                    <div class="form-group m-2">
                        <label asp-for="BookingDate" class="control-label"></label>
                        <input asp-for="BookingDate" class="form-control" min="@dateOfToday" value="@dateOfToday" />
                        <span asp-validation-for="BookingDate" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">選好日期按我</button>
                </form>
            </div>
        </div>
    </div>
</div>

@if (accessor.HttpContext.Session.GetString("DateForQuery") != null)
{
    var dateForQuery = @DateTime.Parse(accessor.HttpContext.Session.GetString("DateForQuery")).ToString("yyyy-MM-dd");
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Search">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group m-2">
                    <label asp-for="BookingDate" class="control-label"></label>
                    <input asp-for="BookingDate" class="form-control" value="@dateForQuery" readonly />
                    <span asp-validation-for="BookingDate" class="text-danger"></span>
                </div>
                <div class="form-group m-2">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" placeholder="請輸入電話進行查詢" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group text-center m-4">
                    <input type="submit" value="按我查詢" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}

@if (Model != null)
{
    if (Model.SeatRequirement == 0)
    {
        <h2 class="text-center text-danger">找不到訂位資訊!</h2>
    }
    else
    {
        <div class="container text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.BookingDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CustomerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.arrivalTimeId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SeatRequirement)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ChildSeat)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.BookingDate)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.CustomerName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Phone)
                        </td>
                        <td>
                            @ViewBag.Period
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.SeatRequirement)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.ChildSeat)
                        </td>
                        <td>
                            <a asp-controller="Reservation" asp-action="Edit" asp-route-id=@Model.Id
                               class="btn btn-primary mx-2">修改</a>
                            <a asp-controller="Reservation" asp-action="Delete" asp-route-id=@Model.Id data-bs-toggle="modal" data-bs-target="#deleteModal"
                               class="btn btn-danger mx-2">刪除</a>
                            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="deleteModalLabel">刪除訂位</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <h2>確定不吃?</h2>
                                        </div>
                                        <div class="modal-footer">
                                            <form asp-action="Delete">
                                                <input asp-for="@Model.Id" hidden />
                                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">再想想</button>
                                                <button type="submit" class="btn btn-danger">這次不吃!</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
}

<div>
    <a asp-action="Index">回首頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}