@model Restaurant_Reservation_Client.Models.ReservationViewModel

@{
    ViewData["Title"] = "訂位查詢";
}

<h1>訂位查詢</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" placeholder="請輸入電話進行查詢" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="按我查詢" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@if (Model != null)
{
    <div class="container text-center">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BookingDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ArrivedTimeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SeatRequirement)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ChildSeat)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.BookingDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Phone)
                    </td>
                    <td>
                        @ViewBag.Period
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.SeatRequirement)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ChildSeat)
                    </td>
                    <td>
                        @Html.ActionLink("修改", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("刪除", "Delete", new { id = Model.Id })
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
}

<div>
    <a asp-action="Index">回首頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
