@model Restaurant_Reservation_Client.Models.ReservationViewModel

@{
    ViewData["Title"] = "訂位完成";
}

<h1 class="text-center fw-bold text-success m-4">你訂好了!</h1>

<div>
    <h4 class="text-center m-4">訂位資訊</h4>
    <hr />
    <dl class="row justify-content-center text-center">
        <dt class = "col-5 m-2 fs-5">
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>
        <dd class = "col-5 m-2 fs-4">
            @Html.DisplayFor(model => model.BookingDate)
        </dd>
        <dt class="col-5 m-2 fs-5">
            @Html.DisplayNameFor(model => model.arrivalTimeId)
        </dt>
        <dd class="col-5 m-2 fs-4">
            @ViewBag.Period
        </dd>
        <dt class = "col-5 m-2 fs-5">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-5 m-2 fs-4">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-5 m-2 fs-5">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-5 m-2 fs-4">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-5 m-2 fs-5">
            @Html.DisplayNameFor(model => model.SeatRequirement)
        </dt>
        <dd class = "col-5 m-2 fs-4">
            @Html.DisplayFor(model => model.SeatRequirement)
        </dd>
        <dt class = "col-5 m-2 fs-5">
            @Html.DisplayNameFor(model => model.ChildSeat)
        </dt>
        <dd class = "col-5 m-2 fs-4">
            @Html.DisplayFor(model => model.ChildSeat)
        </dd>
    </dl>
</div>
<div style="text-align:center">
    <a asp-action="Index"
       class="btn btn-primary m-2 fw-bold fs-5">回首頁</a>
    <br />
    <a asp-controller="Reservation" asp-action="Edit" asp-route-id=@Model.Id
       class="btn btn-warning m-2 fw-bold fs-5">修改訂位</a>
</div>
